body{
    font-family:monospace;
    background-color:#F0C865;
    display:flex;
    justify-content:center;
    align-items:center;
}
.login{
    color: #FFF9F2;
    background-color: rgb(20, 130, 133,0.95);
    padding: 50px;
    box-shadow: -10px 10px 15px #00000080;
    border-radius: 10px;
}
.login input{
    background: none;
    padding: 10px;
    color: #FFF9F2;
    border-radius: 5px;
    outline: none;
}
.login input[type="button"]{
    background-color: none;
}
.login input[type="button"]:hover{
    background-color:#D96C6C;
}
.login input[type="text"]::placeholder,.login input[type="password"]::placeholder{
    color: #EBEFC980;
}
